<div class="jumbotron" style="margin-left: 30px; margin-right: 30px;">
  <center>
    <br>
    <h1 class="display-4">Formulario!</h1>
    <p class="lead">Agregar Usuario</p>
  </center>
  <hr class="my-4" />
  <div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 col-12">
    <form class="row">
      <div class="col-md-6 col-12">
        <label class="form-label font-weight-bold">Apellido Paterno</label>
        <input
          type="name"
          class="form-control"
          placeholder="Digite su Apellido Paterno"
          required
        />
      </div>

      <div class="col-md-6 col-12">
        <label class="form-label font-weight-bold">Apellido Materno</label>
        <input
          type="text"
          class="form-control"
          placeholder="Digite su Apellido Materno"
          required
        />
      </div>
      <div class="col-12">
        <br />
      </div>
      <div class="col-12">
        <label class="form-label font-weight-bold">Nombre Completo</label>
        <input
          type="text"
          class="form-control"
          placeholder="Digite su Nombre Completo"
          required
        />
      </div>
      <div class="col-12">
        <br />
      </div>

      <div class="col-md-6">
        <label class="form-label font-weight-bold">Correo Electronico</label>
        <input
          type="email"
          class="form-control"
          placeholder="Digite su Correo Electronico"
          required
        />
      </div>
      <div class="col-md-6">
        <label class="form-label font-weight-bold">Contraseña</label>
        <input
          type="password"
          class="form-control"
          id="typepass"
          placeholder="Digite su Contraseña"
          required
        />
        <input type="checkbox" onclick="Toggle()" />
        <b>Ver Contraseña</b>
      </div>
      <div class="col-12">
        <br />
      </div>
      <div class="col-md-12">
        <label class="form-label font-weight-bold">Dirección</label>
        <textarea
          type="text"
          class="form-control"
          placeholder="Digite su Dirección"
          required
        ></textarea>
      </div>
      <div class="col-12">
        <br />
      </div>
      <div class="col-md-8">
        <label class="form-label font-weight-bold">Fotografia</label>
        <input type="file" class="form-control" />
      </div>
      <div class="col-md-4">
        <label class="form-label font-weight-bold">Genero</label>
        <br />
        <div class="form-check form-check-inline">
          <input
            type="radio"
            class="form-check-input"
            name="rdo"
            checked
            required
          />
          <label class="form-check-label">Masculino</label>
        </div>
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" name="rdo" />
          <label class="form-check-label">Femenino</label>
        </div>
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" name="rdo" />
          <label class="form-check-label">Otro</label>
        </div>
      </div>
      <center>
        <div class="col-md-12">
          <br />
          <button class="btn btn-primary btn-lg">Enviar</button>
        </div>
        <br>
      </center>
    </form>
  </div>
  <div class="col-md-2"></div>
</div>
</div>
  </div>
</div>
<script src="https://grupoasistenciamedica.com/gamPSys/view/pax/js/formAlta.js"></script>
