<style>
  .cardBox1 {
    margin-top: 20px;
    background-image: url("img/blue-modulo.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-color: rgba(0, 0, 0, 0);
    color: blanchedalmond;
   
  }
  .cardBox2 {
    margin-top: 20px;
    background-image: url("img/modulo-aqua.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-color: rgba(0, 0, 0, 0);
    color: blanchedalmond;
    
  }
  .btn {
    color: blanchedalmond;
  }
</style>
<div class="container">
  <div class="card-deck row">
    <div class="card col-4 col-md-4 ">
        <div class="container cardBox1">
            <div class="d-flex flex-row-reverse">
                <div class="p-2">
                  <button type="button" class="btn btn-outline-light btn-sm">
                    Más información
                  </button>
                </div>
              </div>
              <div class="card-body">
                <center>
                  <h5 class="">Médico General y Especialista</h5>
                </center>
              </div>
        </div>
      
    </div>

   
      <div class="card col-4 col-md-4 cardBox2">
        <div class="d-flex flex-row-reverse">
          <div class="p-2">
            <button type="button" class="btn btn-outline-light btn-sm">
              Más información
            </button>
          </div>
        </div>
        <div class="card-body">
          <h5 class="">Hospital, Clinicas y Sanitarios</h5>
        </div>
      </div>
   
    
      <div class="card cardBox1 col-4 col-md-4">
        <div class="d-flex flex-row-reverse">
          <div class="p-2">
            <button type="button" class="btn btn-outline-light btn-sm">
              Más información
            </button>
          </div>
        </div>
        <div class="card-body">
          <h5 class="">Card title</h5>
        </div>
      </div>
   
  </div>
</div>
