<link rel="stylesheet" href="view/login2/estilos.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width"/>

<div class="container">
  <div class="card">
      <div class="top-row">
        <br><center><img src="img/logoGAM.png" class="img-fluid" width="100px"  alt="" title="Logo" /></a></center>
         <center><br><br> <p>Iniciar Sesi&oacute;n con tu cuenta</p></center>
      </div>
      
       <div class="card-details">
          <input type="email" placeholder="Usuario" required>
          <i class="fa fa-envelope"></i>
      </div>
   
      <div class="card-details">
          <input type="password" id="password-input" placeholder="Contrase&ntilde;a" required>
          <i class="fa fa-lock"></i>
          <span><small class="fa fa-eye-slash passcode"></small></span>          
      </div>
      
      <br>
         <p class="forget">Olvidaste tu Contrase&ntilde;a?</p>
         <center>
          <button class="sign-in">Iniciar Sesi&oacute;n</button>
         </center>
             
        
         <p class="sign-up">No tienes una cuenta?<a href="#"> Registrate</a></p>
      
  </div>
</div>
<script src="view/login2/funcion.js"></script>